body {
  font-family: "Montserrat", sans-serif;
}

.content .header {
  background-image: url(../img/Header/background/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content .header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content .header .header__menu .header__menu_logo .logo {
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fcfcfd;
}
.content .header .header__menu .header__menu_logo .logo span {
  font-size: 24px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: #fab700;
}
.content .header .header__menu .header__menu_link {
  max-width: 460px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 460px;
          flex: 1 1 460px;
}
.content .header .header__menu .header__menu_link .header__menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content .header .header__menu .header__menu_link .header__menu_list .list .link {
  font-size: 17px;
  color: white;
  opacity: 0.7;
  letter-spacing: 0.2px;
}
.content .header .header__menu .header__menu_link .header__menu_list .list .link:hover {
  border-bottom: 2px solid white;
  opacity: 1;
}
.content .header .header__menu .header__menu_networks {
  max-width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .header .header__menu .header__menu_networks .header__menu_net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content .header .header__menu .header__menu_networks .header__menu_net .header__menu_link-img img {
  width: 26px;
}
.content .header .header__menu .header__menu_networks .header__menu_net .tel {
  padding-left: 10px;
}
.content .header .header__menu .header__menu_networks .header__menu_net .inst {
  padding-left: 10px;
}
.content .header .header__menu .header__menu_networks .header__menu_net .wk {
  padding-left: 10px;
}
.content .header .header__content {
  padding: 160px 0 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #fcfcfd;
}
.content .header .header__content .header__content-description {
  max-width: 700px;
  text-align: center;
}
.content .header .header__content .header__content-description .header__content_title {
  font-size: 49px;
  font-weight: 600;
}
.content .header .header__content .header__content-description .header__content_text {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content .header .header__content .header__content-description .header__content_text .header__content_desc {
  max-width: 520px;
  line-height: 20px;
}
.content .header .header__content .header__content-description .header__content_buttons {
  margin-top: 50px;
}
.content .header .header__content .header__content-description .header__content_buttons .header__content-button {
  width: 252px;
  height: 50px;
  background-color: #fcfcfd;
  color: #111;
  font-size: 14px;
  border-radius: 40px;
  font-weight: 500;
  background-image: url(../img/Header/vector/arrow.png);
  background-repeat: no-repeat;
  background-position: 191px 19px;
  padding-right: 15px;
}
@media (max-width: 689px) {
  .header__menu_link-img {
    display: none;
  }

  .header__menu_link-img img {
    display: none;
  }

  .header__menu_link {
    margin-left: 15px;
  }
}
@media (max-width: 320px) {
  .link {
    text-align: center;
  }
}
.information {
  padding: 80px 0;
}
.information .info__title {
  padding-bottom: 70px;
}
.information .info__title .info__log {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.information .info-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.information .info-description .info__description {
  max-width: 570px;
}
.information .info-description .info__description .info__description_title .info__description_log {
  font-size: 24px;
  font-weight: 600;
}
.information .info-description .info__description .info__text {
  margin-top: 60px;
}
.information .info-description .info__description .info__text .text {
  font-size: 17px;
  line-height: 20px;
}
.information .info-description .info__description .info__text .marg {
  margin-top: 40px;
}
.information .info-description .info__description .info__skils .info__skils_title {
  margin-top: 60px;
}
.information .info-description .info__description .info__skils .info__skils_title .info__skils_log {
  font-size: 24px;
  font-weight: 600;
}
.information .info-description .info__description .info__skils .info__skils_lang {
  margin-top: 60px;
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 370px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list .info__skils_li-lang {
  font-size: 16px;
  position: relative;
  padding-left: 13px;
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list .info__skils_li-lang.orange::before {
  background-color: orange;
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list .info__skils_li-lang.blue::before {
  background-color: blue;
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list .info__skils_li-lang.purple::before {
  background-color: purple;
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list .info__skils_li-lang.green::before {
  background-color: green;
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list .info__skils_li-lang.pink::before {
  background-color: #fca1b0;
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list .info__skils_li-lang.yellow::before {
  background-color: #ffda06;
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list .info__skils_li-lang.blue-1::before {
  background-color: #46a3fa;
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list .info__skils_li-lang::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 3px;
  left: 0px;
  border-radius: 50px;
}
.information .info-description .info__description .info__skils .info__skils_lang .width {
  max-width: 300px;
  margin-top: 20px;
}
.information .info-description .info__img img {
  max-width: 100%;
}

@media (max-width: 1025px) {
  .info__img img {
    margin-top: 30px;
  }
}
@media (max-width: 425px) {
  .info__description_log {
    text-align: center;
  }

  .info__skils_log {
    text-align: center;
  }
}
.works {
  background-image: url(../img/Contain/Contain-2/background/img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}
.works .works__title {
  padding-bottom: 70px;
}
.works .works__title .works__log {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #fcfcfd;
}
.works .works__replay {
  margin: 0 auto;
}
.works .works__replay .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.works .works__replay .slider .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.works .works__replay .slider .work .work__img {
  max-width: 1000px;
  -o-object-fit: cover;
     object-fit: cover;
}
.works .works__replay .slider .work .works__text {
  margin-top: 70px;
  max-width: 1000px;
}
.works .works__replay .slider .work .works__text .work__text {
  color: #fcfcfd;
  line-height: 21px;
}
.works .works__replay .slider .work .works__text .work__text span {
  font-size: 19px;
  font-weight: 600;
}

@media (max-width: 986px) {
  #scr {
    max-width: 700px;
  }

  .work__text {
    max-width: 700px;
  }
}
@media (max-width: 425px) {
  #scr {
    max-width: 400px;
  }

  .work__text {
    max-width: 400px;
  }
}
@media (max-width: 375px) {
  #scr {
    max-width: 350px;
  }

  .work__text {
    max-width: 350px;
  }
}
@media (max-width: 320px) {
  #scr {
    max-width: 320px;
  }

  .work__text {
    max-width: 320px;
  }
}
.forms {
  padding: 90px 0;
}
.forms .forms__title {
  margin-bottom: 100px;
}
.forms .forms__title .forms__log {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #111;
}
.forms .forms__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.forms .forms__content .forms__text {
  max-width: 570px;
}
.forms .forms__content .forms__text .text {
  line-height: 20px;
  font-size: 17px;
}
.forms .forms__content .forms__text .marg {
  margin-top: 50px;
}
.forms .forms__content .forms__text .form-flex .forms__networks {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}
.forms .forms__content .forms__text .form-flex .forms__networks .github img {
  width: 35px;
}
.forms .forms__content .form .form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.forms .forms__content .form .form__inputs .form-input {
  width: 400px;
  border-bottom: 1px solid #111;
  font-size: 18px;
  padding: 0 0 10px 0;
}
.forms .forms__content .form .marg {
  margin-top: 50px;
}
.forms .forms__content .form .form__buttons {
  margin-top: 40px;
}
.forms .forms__content .form .form__buttons .form-button {
  width: 250px;
  height: 54px;
  border-radius: 25px;
  color: #fcfcfd;
  background-color: #111;
  font-size: 14px;
}

@media (max-width: 969px) {
  .form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .forms__text {
    margin-top: 30px;
  }
}
@media (max-width: 375px) {
  #form-input {
    width: 300px;
  }
}
.shop {
  padding: 90px 0;
  background-color: #F9F9F9;
}
.shop .shop__title {
  margin-bottom: 55px;
}
.shop .shop__title .shop__title-log {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #111;
}
.shop .shop__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 90px;
}
.shop .shop__text .text {
  line-height: 20px;
  font-size: 17px;
  width: 560px;
  text-align: center;
}
.shop .shop__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.shop .shop__card .shop__card-site {
  width: 350px;
  height: 445px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 0px 1px #ffffff;
          box-shadow: 1px 1px 0px 1px #ffffff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 20px;
}
.shop .shop__card .shop__card-site .shop__card-text {
  border-bottom: 1px solid #111;
  padding: 0 0 30px 0;
}
.shop .shop__card .shop__card-site .shop__card-text .shop__var {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin-top: 40px;
}
.shop .shop__card .shop__card-site .shop__card-text .shop__card-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 30px 0;
}
.shop .shop__card .shop__card-site .shop__card-text .shop__card-line .line {
  width: 90px;
  height: 2px;
  background-color: #111;
}
.shop .shop__card .shop__card-site .shop__card-text .shop__list-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.shop .shop__card .shop__card-site .shop__card-text .shop__list-div .shop__list .shop-li {
  position: relative;
  font-size: 18px;
  line-height: 45px;
  max-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shop .shop__card .shop__card-site .shop__card-text .shop__list-div .shop__list .li {
  line-height: 22px;
}
.shop .shop__card .shop__card-site .shop__card-text .shop__list-div .shop__list .shop-li::before {
  content: url("../img/Contain/Contain_4/arrow_li/arrow.png");
  position: relative;
  padding-right: 15px;
  display: block;
  top: 3px;
}
.shop .shop__card .shop__card-site .shop__card-money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 30px 0;
}
.shop .shop__card .shop__card-site .shop__card-money .shop__money .price {
  opacity: 0.8;
  padding-bottom: 7px;
}
.shop .shop__card .shop__card-site .shop__card-money .shop__money .money {
  font-size: 16px;
}
.shop .shop__card .shop__card-site .shop__card-money .shop__term .term {
  padding-bottom: 7px;
}
.shop .shop__card .shop__card-site .shop__card-money .shop__arrow {
  padding-top: 8px;
}
.shop .shop__card .shop__card-site .shop__card-title {
  background-color: #111;
  border-radius: 20px 20px 0 0;
  padding-top: 30px;
}
.shop .shop__card .shop__card-site .shop__card-title .shop__var {
  font-size: 25px;
  font-weight: 500;
  color: #fcfcfd;
  text-align: center;
}
.shop .shop__card .shop__card-site .shop__card-title .shop__card-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 35px 0;
}
.shop .shop__card .shop__card-site .shop__card-title .shop__card-line .line {
  width: 90px;
  height: 2px;
  background-color: #fcfcfd;
}
.shop .shop__card .height {
  height: 540px;
}
.shop .shop__card .height .shop__card-text .shop__list-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.shop .shop__card .height .shop__card-text .shop__list-div .shop__list {
  margin-top: 30px;
}

@media (max-width: 1066px) {
  .one {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .height {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 40px;
  }

  .three {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 716px) {
  .three {
    margin-top: 40px;
  }
}