body {
  font-family: "Montserrat", sans-serif;
}

.content {
  height: 100vh;
}
.content .header {
  background-image: url(../img/Header/background/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content .header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content .header .header__menu .header__menu_logo .header__logo {
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(252, 252, 253);
}
.content .header .header__menu .header__menu_logo .header__logo span {
  font-size: 24px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: rgb(250, 183, 0);
}
.content .header .header__menu .header__menu_link {
  max-width: 500px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
}
.content .header .header__menu .header__menu_link .header__menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content .header .header__menu .header__menu_link .header__menu_list .header__list .header__link {
  font-size: 17px;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  letter-spacing: 0.2px;
}
.content .header .header__menu .header__menu_link .header__menu_list .header__list .header__link:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
  opacity: 1;
}
.content .header .header__menu .header__menu_register .header__register .header__title .header__register_link {
  color: rgb(252, 252, 253);
  font-size: 17px;
  opacity: 0.7;
  font-weight: 400;
}
.content .header .header__menu .header__menu_register .header__register .header__title .header__register_link:hover {
  opacity: 1;
}
.content .header .header__content {
  padding: 160px 0 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: rgb(252, 252, 253);
}
.content .header .header__content .header__content-description {
  max-width: 700px;
  text-align: center;
}
.content .header .header__content .header__content-description .header__content_title {
  font-size: 49px;
  font-weight: 600;
}
.content .header .header__content .header__content-description .header__content_text {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content .header .header__content .header__content-description .header__content_text .header__content_desc {
  max-width: 520px;
  line-height: 20px;
}
.content .header .header__content .header__content-description .header__content_buttons {
  margin-top: 50px;
}
.content .header .header__content .header__content-description .header__content_buttons .header__content-button {
  width: 252px;
  height: 50px;
  background-color: rgb(252, 252, 253);
  color: #000;
  font-size: 14px;
  border-radius: 40px;
  font-weight: 500;
  background-image: url(../img/Header/vector/arrow.png);
  background-repeat: no-repeat;
  background-position: 191px 19px;
  padding-right: 15px;
}
@media (max-width: 689px) {
  .header__menu_link-img {
    display: none;
  }

  .header__menu_link-img img {
    display: none;
  }

  .header__menu_link {
    margin-left: 15px;
  }
}
@media (max-width: 320px) {
  .link {
    text-align: center;
  }
}
.information {
  padding: 80px 0;
}
.information .info__title {
  padding-bottom: 70px;
}
.information .info__title .info__log {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.information .info-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.information .info-description .info__description {
  max-width: 570px;
}
.information .info-description .info__description .info__description_title .info__description_log {
  font-size: 24px;
  font-weight: 600;
}
.information .info-description .info__description .info__text {
  margin-top: 60px;
}
.information .info-description .info__description .info__text .text {
  font-size: 17px;
  line-height: 20px;
}
.information .info-description .info__description .info__text .marg {
  margin-top: 40px;
}
.information .info-description .info__description .info__skils .info__skils_title {
  margin-top: 60px;
}
.information .info-description .info__description .info__skils .info__skils_title .info__skils_log {
  font-size: 24px;
  font-weight: 600;
}
.information .info-description .info__description .info__skils .info__skils_lang {
  margin-top: 60px;
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 370px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list .info__skils_li-lang {
  font-size: 16px;
  position: relative;
  padding-left: 13px;
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list .info__skils_li-lang.orange::before {
  background-color: orange;
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list .info__skils_li-lang.blue::before {
  background-color: blue;
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list .info__skils_li-lang.purple::before {
  background-color: purple;
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list .info__skils_li-lang.green::before {
  background-color: green;
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list .info__skils_li-lang.pink::before {
  background-color: rgb(252, 161, 176);
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list .info__skils_li-lang.yellow::before {
  background-color: rgb(255, 218, 6);
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list .info__skils_li-lang.blue-1::before {
  background-color: rgb(70, 163, 250);
}
.information .info-description .info__description .info__skils .info__skils_lang .info__lang_list .info__skils_li-lang::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 3px;
  left: 0px;
  border-radius: 50px;
}
.information .info-description .info__description .info__skils .info__skils_lang .width {
  max-width: 300px;
  margin-top: 20px;
}
.information .info-description .info__img img {
  max-width: 100%;
}

@media (max-width: 1025px) {
  .info__img img {
    margin-top: 30px;
  }
}
@media (max-width: 425px) {
  .info__description_log {
    text-align: center;
  }

  .info__skils_log {
    text-align: center;
  }
}
.works {
  background-image: url(../img/Contain/Contain-2/background/img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}
.works .works__title {
  padding-bottom: 70px;
}
.works .works__title .works__log {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: rgb(252, 252, 253);
}
.works .works__replay {
  margin: 0 auto;
}
.works .works__replay .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: w-resize;
}
.works .works__replay .slider .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.works .works__replay .slider .work .work__img {
  max-width: 1000px;
  -o-object-fit: cover;
     object-fit: cover;
}
.works .works__replay .slider .work .works__text {
  margin-top: 70px;
  max-width: 1000px;
}
.works .works__replay .slider .work .works__text .work__text {
  color: rgb(252, 252, 253);
  line-height: 21px;
}
.works .works__replay .slider .work .works__text .work__text span {
  font-size: 19px;
  font-weight: 600;
}

@media (max-width: 986px) {
  #scr {
    max-width: 700px;
  }

  .work__text {
    max-width: 700px;
  }
}
@media (max-width: 425px) {
  #scr {
    max-width: 400px;
  }

  .work__text {
    max-width: 400px;
  }
}
@media (max-width: 375px) {
  #scr {
    max-width: 350px;
  }

  .work__text {
    max-width: 350px;
  }
}
@media (max-width: 320px) {
  #scr {
    max-width: 320px;
  }

  .work__text {
    max-width: 320px;
    padding: 20px;
  }
}
.forms {
  padding: 90px 0;
}
.forms .forms__title {
  margin-bottom: 100px;
}
.forms .forms__title .forms__log {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #000;
}
.forms .forms__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.forms .forms__content .forms__text {
  max-width: 570px;
}
.forms .forms__content .forms__text .text {
  line-height: 20px;
  font-size: 17px;
}
.forms .forms__content .forms__text .marg {
  margin-top: 50px;
}
.forms .forms__content .forms__text .form-flex .forms__networks {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}
.forms .forms__content .forms__text .form-flex .forms__networks .github img {
  width: 35px;
}
.forms .forms__content .form .form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.forms .forms__content .form .form__inputs .form-input {
  width: 400px;
  border-bottom: 1px solid #000;
  font-size: 18px;
  padding: 0 0 10px 0;
}
.forms .forms__content .form .marg {
  margin-top: 50px;
}
.forms .forms__content .form .form__buttons {
  margin-top: 40px;
}
.forms .forms__content .form .form__buttons .form-button {
  width: 250px;
  height: 54px;
  border-radius: 25px;
  color: rgb(252, 252, 253);
  background-color: #000;
  font-size: 14px;
}

@media (max-width: 969px) {
  .form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .forms__text {
    margin-top: 30px;
  }
}
@media (max-width: 375px) {
  #form-input {
    width: 300px;
  }
}
.shop {
  padding: 90px 0;
  background-color: #F9F9F9;
}
.shop .shop__title {
  margin-bottom: 55px;
}
.shop .shop__title .shop__title-log {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #000;
}
.shop .shop__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 60px;
}
.shop .shop__text .text {
  line-height: 20px;
  font-size: 17px;
  width: 560px;
  text-align: center;
}
.shop .shop__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.shop .shop__card .shop__card-site {
  width: 350px;
  height: 445px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 0px 1px #ffffff;
          box-shadow: 1px 1px 0px 1px #ffffff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 20px;
}
.shop .shop__card .shop__card-site .shop__card-text {
  border-bottom: 1px solid #000;
  padding: 0 0 30px 0;
}
.shop .shop__card .shop__card-site .shop__card-text .shop__var {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin-top: 40px;
}
.shop .shop__card .shop__card-site .shop__card-text .shop__card-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 30px 0;
}
.shop .shop__card .shop__card-site .shop__card-text .shop__card-line .line {
  width: 90px;
  height: 2px;
  background-color: #000;
}
.shop .shop__card .shop__card-site .shop__card-text .shop__list-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.shop .shop__card .shop__card-site .shop__card-text .shop__list-div .shop__list .shop-li {
  position: relative;
  font-size: 18px;
  line-height: 45px;
  max-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shop .shop__card .shop__card-site .shop__card-text .shop__list-div .shop__list .li {
  line-height: 22px;
}
.shop .shop__card .shop__card-site .shop__card-text .shop__list-div .shop__list .shop-li::before {
  content: url("../img/Contain/Contain_4/arrow_li/arrow.png");
  position: relative;
  padding-right: 15px;
  display: block;
  top: 3px;
}
.shop .shop__card .shop__card-site .shop__card-money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 30px 0;
}
.shop .shop__card .shop__card-site .shop__card-money .shop__money .price {
  opacity: 0.8;
  padding-bottom: 7px;
}
.shop .shop__card .shop__card-site .shop__card-money .shop__money .money {
  font-size: 16px;
}
.shop .shop__card .shop__card-site .shop__card-money .shop__term .term {
  padding-bottom: 7px;
}
.shop .shop__card .shop__card-site .shop__card-money .shop__arrow {
  padding-top: 8px;
}
.shop .shop__card .shop__card-site .shop__card-title {
  background-color: #000;
  border-radius: 20px 20px 0 0;
  padding-top: 30px;
}
.shop .shop__card .shop__card-site .shop__card-title .shop__var {
  font-size: 25px;
  font-weight: 500;
  color: rgb(252, 252, 253);
  text-align: center;
}
.shop .shop__card .shop__card-site .shop__card-title .shop__card-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 35px 0;
}
.shop .shop__card .shop__card-site .shop__card-title .shop__card-line .line {
  width: 90px;
  height: 2px;
  background-color: rgb(252, 252, 253);
}
.shop .shop__card .height {
  height: 540px;
}
.shop .shop__card .height .shop__card-text .shop__list-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.shop .shop__card .height .shop__card-text .shop__list-div .shop__list {
  margin-top: 30px;
}

@media (max-width: 699px) {
  .one {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .height {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 30px;
  }

  .three {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 30px;
  }
}
@media (max-width: 1049px) {
  .one {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .height {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 30px;
  }

  .three {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.tab .wrapper__tab {
  max-width: 1500px;
  position: relative;
  padding: 95px 0;
}
.tab .wrapper__tab .tab__title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #000;
  margin-bottom: 55px;
}
.tab .wrapper__tab .tab__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.tab .wrapper__tab .tab__item .tab__button {
  width: 100%;
  height: 59px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 2px;
  background-color: transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.tab .wrapper__tab .tab__item .tab__button.tab__button_active {
  background-color: rgb(0, 0, 0);
  color: #fff;
}
.tab .wrapper__tab .tab__content {
  padding: 0 20px;
}
.tab .wrapper__tab .tab__content .tab__text {
  display: none;
  font-size: 18px;
  line-height: 30px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}
.tab .wrapper__tab .tab__content .tab__text.tab__text_active {
  display: block;
}
.tab .tab__img {
  width: 100%;
  position: absolute;
  -o-object-fit: fill;
     object-fit: fill;
  height: 100%;
  opacity: 0.9;
}

.footer {
  background-color: rgb(0, 0, 0);
  padding: 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(252, 252, 253);
}
.footer .footer__content {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .footer__content .footer__logo .logo {
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(252, 252, 253);
}
.footer .footer__content .footer__logo .logo span {
  font-size: 24px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: rgb(250, 183, 0);
}
.footer .footer__content .footer__navigation .footer__title .footer__title-log {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 500;
}
.footer .footer__content .footer__navigation .footer__title .footer__line {
  width: 70px;
  height: 1px;
  background-color: rgb(252, 252, 253);
  margin-top: 5px;
}
.footer .footer__content .footer__navigation .footer__list {
  margin-top: 20px;
}
.footer .footer__content .footer__navigation .footer__list .footer__list .footer__li .footer__link {
  color: rgb(252, 252, 253);
  font-size: 17px;
  line-height: 26px;
  opacity: 0.7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .footer__content .footer__navigation .footer__list .footer__list .footer__li .footer__link:hover {
  opacity: 1;
}

.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup.popup__active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup__body {
  max-width: 550px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 50px 50px;
  position: relative;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup__body.popup__body-active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.popup__text {
  font-size: 19px;
  text-align: center;
  margin-bottom: 27px;
  font-weight: 500;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup__inputs {
  margin-bottom: 18px;
}

.popup__text_input {
  font-size: 16px;
  margin-bottom: 10px;
}

.popup__input {
  width: 400px;
  height: 40px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  margin-left: 15px;
  font-size: 18px;
  color: #fff;
  padding: 0 15px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup__input.popup__input_error {
  border-bottom: 1px solid rgb(255, 3, 3);
  border-left: 1px solid rgb(255, 3, 3);
  -webkit-animation-name: error;
          animation-name: error;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes error {
  0% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
}

@keyframes error {
  0% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
}
.popup__buttons {
  text-align: center;
}

.popup__button {
  width: 200px;
  height: 36px;
  background-color: transparent;
  font-size: 18px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
}

@media (max-width: 425px) {
  .popup__body {
    max-width: 400px;
  }

  .popup__input {
    width: 300px;
  }

  .popup__text {
    font-size: 17px;
  }
}
@media (max-width: 320px) {
  .popup__body {
    max-width: 400px;
  }

  .popup__input {
    width: 250px;
  }

  .popup__text {
    font-size: 15px;
  }
}
.cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.cookie.cookie_open {
  opacity: 1;
  visibility: visible;
}

.cookie__conteiner {
  width: 400px;
  background-color: #000;
  padding: 30px;
}

.cookie__text {
  color: #fff;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 20px;
}

.cookie__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cookie__button {
  width: 150px;
  height: 30px;
  font-size: 15px;
  font-weight: 500;
}

.cookieBtn1 {
  background-color: transparent;
  color: #fff;
}

.cookieBtn2 {
  background-color: rgb(241, 214, 0);
  color: #000;
}