body {
  font-family: "Montserrat", sans-serif;
  color: #fcfcfd;
}

.content .header {
  background-image: url(../img/Header/background/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.content .header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .header .header__menu .header__menu_logo .logo {
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
}
.content .header .header__menu .header__menu_logo .logo span {
  font-size: 24px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: #fab700;
}
.content .header .header__menu .header__menu_link {
  max-width: 460px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 460px;
          flex: 1 1 460px;
}
.content .header .header__menu .header__menu_link .header__menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .header .header__menu .header__menu_link .header__menu_list .list .link {
  font-size: 17px;
  color: white;
  opacity: 0.7;
  letter-spacing: 0.2px;
}
.content .header .header__menu .header__menu_link .header__menu_list .list .link:hover {
  border-bottom: 2px solid white;
  opacity: 1;
}
.content .header .header__menu .header__menu_networks {
  max-width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 170px;
          flex: 1 1 170px;
}
.content .header .header__menu .header__menu_networks .header__menu_net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .header .header__menu .header__menu_networks .header__menu_net .header__menu_link-img img {
  width: 26px;
}
.content .header .header__content {
  padding: 166px 0 140px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.content .header .header__content .header__content-description {
  max-width: 700px;
  text-align: center;
}
.content .header .header__content .header__content-description .header__content_title {
  font-size: 49px;
  font-weight: 600;
}
.content .header .header__content .header__content-description .header__content_text {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content .header .header__content .header__content-description .header__content_text .header__content_desc {
  width: 520px;
  line-height: 20px;
}
.content .header .header__content .header__content-description .header__content_buttons {
  margin-top: 50px;
}
.content .header .header__content .header__content-description .header__content_buttons .header__content-button {
  width: 252px;
  height: 50px;
  background-color: #fcfcfd;
  color: #111;
  font-size: 14px;
  border-radius: 40px;
  font-weight: 500;
  background-image: url(../img/Header/vector/arrow.png);
  background-repeat: no-repeat;
  background-position: 201px 19px;
}