$wh:rgb(252,252,253);
body {
    font-family: 'Montserrat', sans-serif;
    
    
}
.content {
    
    
    .header {
        background-image: url(../img/Header/background/background.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .header__menu {
            display: flex;
            justify-content: space-evenly;
            height: 90px;
            align-items: center;
            .header__menu_logo {
                .logo{
                    font-size: 19px;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: rgb(252,252,253);
                    
                    span {
                        font-size: 24px;
                        text-decoration: underline;
                        text-decoration-thickness: 2px;
                        color: rgb(250, 183, 0);
                    }
                }
            }
            .header__menu_link {
                    max-width: 460px;
                    flex: 1 1 460px;
                .header__menu_list {
                    display: flex;
                    justify-content: space-between;
                    .list {
                        .link {
                            
                            font-size: 17px;
                            color: rgb(255, 255, 255);
                            opacity: .7;
                            letter-spacing: .2px;
                            
                            
                            &:hover {
                                border-bottom: 2px solid rgb(255, 255, 255);
                                opacity: 1;
                                
                            }
                        }
                    }
                }
            }
            .header__menu_networks {
                max-width: 160px;
                display: flex;
                justify-content: space-between;
                
                .header__menu_net {
                    display: flex;
                    
                    .header__menu_link-img {
                        img {
                            width: 26px;
                        }
                        
                    }
                    .tel {
                        padding-left: 10px;
                    }
                    .inst {
                        padding-left: 10px;
                    }
                    .wk {
                        padding-left: 10px;
                    }
                   
                }
                
            }
        }
        .header__content {
            padding: 166px 0 160px 0;
            display: flex;
            justify-content: space-evenly;
            color: rgb(252,252,253);
            .header__content-description {
                max-width: 700px;
                text-align: center;
                .header__content_title {
                    font-size: 49px;
                    font-weight: 600;
                }
                .header__content_text {
                    margin-top: 50px;
                    display: flex;
                    justify-content: center;
                    .header__content_desc {
                        max-width: 520px;
                        line-height: 20px;

                    }
                }
                .header__content_buttons {
                    margin-top: 50px;
                    .header__content-button {
                        width: 252px;
                        height: 50px;
                        background-color: $wh;
                        color: #111;
                        font-size: 14px;
                        border-radius: 40px;
                        font-weight: 500;
                        background-image: url(../img/Header/vector/arrow.png);
                        background-repeat: no-repeat;
                        background-position: 191px 19px;
                        padding-right: 15px;
                        &:hover {
                            
                        }
                        
                    }
                }
            }

        }
    }
    
}

@media (max-width:  535px) {
    .header__menu_link-img  {
        display: none;
        
    }
    .header__menu_link-img  img {
        display: none;
    }
    .header__menu_link {
        margin-left: 15px;  
    }
}

.information {
    .info__title {
        padding: 100px 0 70px 0;
        .info__log {
            text-align: center;
            font-size: 30px;
            font-weight: 600;
            letter-spacing: .2px;
        }
    }
    .info-description {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-bottom: 40px;
        .info__description {
            max-width: 570px;
            .info__description_title {
                .info__description_log {
                    font-size: 24px;
                    font-weight: 600;

                }
            }
            .info__text {
                margin-top: 60px;
                .text {
                    font-size: 17px;
                }
                .marg {
                    margin-top: 35px;
                }
            }
            .info__skils {
                .info__skils_title {
                    margin-top: 60px;
                    .info__skils_log {
                        font-size: 24px;
                        font-weight: 600;
                    }
                }
                .info__skils_lang {
                    margin-top: 60px;
                    .info__lang_list {
                        display: flex;
                        justify-content: space-between;
                        max-width: 370px;
                        flex-wrap: wrap;
                        .info__skils_li-lang {
                            font-size: 16px;
                            position: relative;
                            padding-left: 13px;
                            &.orange::before {
                                background-color: orange;
                            }
                            &.blue::before {
                                background-color: blue;
                            }
                            &.purple::before {
                                background-color: purple;
                            }
                            &.green::before {
                                background-color: green;
                            }
                            &.pink::before {
                                background-color: rgb(252, 161, 176);
                            }
                            &.yellow::before {
                                background-color: rgb(255, 218, 6);
                            }
                            &.blue-1::before {
                                background-color: rgb(70, 163, 250);
                            }
                        }
                        .info__skils_li-lang::before {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            top: 3px;
                            left: 0px;
                            border-radius: 50px;
                            
                        }
                        
                        
                    }
                    .width {
                        max-width: 300px;
                        margin-top: 20px;
                    }
                   
                    
                }
                
                
            }

        }
        .info__img {

        }
    }

}
@media (max-width: 1025px) {
    .info__img {
        img {
            margin-top: 30px;
        }
    }
}
.works {
    background-image: url(../img/Contain/Contain-2/background/img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
    .works__title {
        padding: 100px 0 70px 0;
        .works__log {
            font-size: 30px;
            font-weight: 600;
            text-align: center;
            color: $wh;
            
        }
    }
    .works__replay {
        
        .slider {
            display: flex;
            min-width: 0;
            
            
            
            .works__work-one {
                
                .one-text {
                    
                }
                .work__img {
                    
                }
                
            }
            .works__work-two {
                
                
                .work__img {
                    
                }
                
                .two-text {
                    
                }
            }
            .work {
                min-width: 0;
                max-width: 700px;
                .work__img{
                    max-width: 700px;
                    
                    &:hover {
                        
                    }
                }
                .works__text {
                    margin-top: 70px;
                    .work__text {
                        color: $wh;
                        line-height: 21px;
                        span {
                            font-size: 19px;
                            font-weight: 600;
                        }
                    }
                    
                }
            }
        }
    }
}
.slick-list {
    overflow: hidden;
}
.slick-arrow{
    height: 20px;
}

.slick-slide.slick-active{
    display: flex;
}